#tableContents
{
    float: left;
    width: 28%;
    padding-left: 60px;
}
#content
{
    float: right;
    width: 65%;
}
.text
{
    width: 400px;
    height: 450px;
    overflow-y: auto;
    word-break: wrap;
}

a
{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}
#ifrm
{
    background-color:White;
    color:Black;
}
div
{
    padding-bottom: 7px;
}
a:hover
{
    color: black;
}
header
{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color:#484848;
    font-family: Bodoni MT;
    background-color: #FF9933;
    border: 4px solid #484848;
    border-radius: 30px;
    margin: 30px;
    padding: 10px;
    height: 130px;
}
body
{
    background-color: Maroon;
    color: Gray;
    display: table;
    margin: auto;
}
